@include reset();

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    color: #fff;
    font-size: 16px;
    line-height: 1;
}

img {
    border: 0;
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
    color: $title-color;
}

.container {
    @include wrapper();
}