@include reset();

*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    background: #fff;
    font-family: $text-font;
    color: $text-color;
    font-size: 16px;
    line-height: 1;
}

header,
footer {
    flex: 0 0 auto;
}

main {
    flex: 1 0 auto;
}

a {
    text-decoration: none;
    color: $title-color;
}

.container {
    @include wrapper();
}

.title {
    display: inline-block;
    position: relative;
    margin-bottom: 30px;
    color: $title-color;
    font-family: $title-font, sans-serif;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1;
    z-index: 1;

    &::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 0;
        display: block;
        width: 68px;
        height: 22px;
        background: $main-theme-color;
        z-index: -1;
    }

    &--small {
        font-size: 18px;
        line-height: 28px;

        &::after {
            content: none;
        }
    }

}

.desc {
    width: 100%;
    max-width: 715px;
    margin: 0 auto 100px;
    color: $text-color;
    font-family: $text-font, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    @include md(margin-bottom, 25px);
}

.btn {
    display: inline-block;
    padding: 15px 24px;
    font-family: $title-font, sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;

    &--primary {
        background-color: $main-theme-color;
        color: #fff;
    }

    &--secondary {
        background-color: #fff;
        color: $main-theme-color;
    }

    &--form {
        padding: 17px 48px;
        border: none;
        @include sm(width, 100%);

        &:hover {
            cursor: pointer;
        }

    }

    &:hover {
        -webkit-transform: scale(1.01);
        -ms-transform: scale(1.01);
        transform: scale(1.01);
        -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, .2);
        box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    }
}

.menu {
    &__list {
        display: flex;
        flex-wrap: wrap;
    }

    &__item+&__item {
        margin-left: 20px;
    }

    &__link {
        position: relative;
        font-family: $title-font, sans-serif;
        font-size: 12px;
        font-weight: bold;
        line-height: 1;
        text-transform: uppercase;

        &::before {
            content: "";
            position: absolute;
            top: 50%;
            left: 0;
            width: 50%;
            height: 1px;
            background-color: #60606e;
            opacity: 0;
            -webkit-transition: all .2s ease-in-out;
            transition: all .2s ease-in-out;
        }

        &:hover::before {
            top: -5px;
            opacity: 1;
        }
    }
}

.open-menu {
    display: none;
    width: 30px;
    height: 17px;
    padding: 0;
    border: none;
    background: transparent;
    position: relative;
    transform: rotate(0deg);
    transition: .5s ease-in-out;
    overflow: hidden;
    @include sm(display, block);

    &:focus {
        outline: none;
    }

    &:hover {
        cursor: pointer;
    }

    &__stroke {
        display: block;
        position: absolute;
        height: 1px;
        width: 100%;
        background: $title-color;
        border-radius: 9px;
        opacity: 1;
        left: 0;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .25s ease-in-out;
        -moz-transition: .25s ease-in-out;
        -o-transition: .25s ease-in-out;
        transition: .25s ease-in-out;

        &--one {
            top: 0px;
        }

        &--two {
            top: 8px;

        }

        &--three {
            top: 16px;

        }
    }

    &--active .open-menu__stroke--one {

        top: 8px;
        -webkit-transform: rotate(135deg);
        -moz-transform: rotate(135deg);
        -o-transform: rotate(135deg);
        transform: rotate(135deg);
    }

    &--active .open-menu__stroke--two {
        opacity: 0;
        left: -30px;
    }

    &--active .open-menu__stroke--three {
        top: 8px;
        -webkit-transform: rotate(-135deg);
        -moz-transform: rotate(-135deg);
        -o-transform: rotate(-135deg);
        transform: rotate(-135deg);
    }
}

.primary-hero {
    min-height: 850px;
    padding: 225px 15px 0;
    width: 100%;
    background: #fff url(../img/hero-first-bg.png) no-repeat;
    background-size: cover;

    @include xs-block() {
        min-height: 650px;
        margin-bottom: 30px;
    }

    &__text {
        max-width: 555px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    &__title {
        border: 10px solid $title-color;
        font-size: 48px;
        line-height: 80px;
        padding: 0px 29px;

        @media screen and (max-width: 585px) {
            border: 5px solid #60606e;
            font-size: 25px;
            line-height: 50px;
            padding: 0px 20px;
        }

        @media screen and (max-width: 320px) {
            border: 5px solid #60606e;
            font-size: 20px;
            line-height: 50px;
            padding: 0px 20px;
        }

        &::after {
            content: none;
        }

        &--small {
            padding: 2px 25px;
            background: $main-theme-color;
            margin-bottom: 0;
            font-size: 14px;

            &::after {
                content: none;
            }
        }
    }

    &__desc {
        @media screen and (max-width: 585px) {
            max-width: 300px;
        }
    }
}

.secondary-hero {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 500px;
    width: 100%;
    margin-bottom: 150px;
    background: #dee3e7 url(../img/hero-second-bg.png) no-repeat;
    background-size: cover;

    &__text {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__title {
        margin-bottom: 26px;
        font-size: 36px;

        &::after {
            content: none;
        }
    }
}

.breadcrumbs {
    color: $title-color;
    font-family: $title-font, sans-serif;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
}

.input {
    padding: 14px 20px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    font-family: $text-font, sans-serif;
    font-size: 14px;
    color: $text-color;

    &:focus {
        outline: none;
    }
}

.fields-wrap {
    position: relative;
    flex: 1 1 auto;
    @include sm(margin-bottom, 10px);

    &__input {
        width: 100%;
        height: 100%;

        &:focus~.fields-wrap__placeholder,
        &:valid~.fields-wrap__placeholder {
            color: $main-theme-color;
            color: $main-theme-color;
            color: $main-theme-color;
            color: $main-theme-color;
            font-size: 10px;
            top: 0px;
            left: 5px;
            background-color: #fff;
            padding: 5px;
        }
    }

    &__placeholder {
        position: absolute;
        top: 50%;
        left: 20px;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        font-family: $title-font, sans-serif;
        font-weight: 700;
        font-size: 12px;
        text-transform: uppercase;
        color: $text-color;
        -webkit-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out;
        z-index: 1;
    }
}

.social {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    @include sm(justify-content, center);

    &__item+&__item {
        margin-left: 20px;
    }

    &__link {
        color: $text-color;
        font-size: 18px;
        -webkit-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out;

        &:hover {
            color: $main-theme-color;
        }
    }
}

.created-by {
    display: inline-block;
    margin-bottom: 20px;
    color: $text-color-light;
    font-family: $text-font, sans-serif;
    font-size: 14px;
    line-height: 1;
    text-transform: uppercase;
    @include sm(text-transform, none);
}