.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: transparent;

    &-inner {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        padding: 41px 0;
    }

    &-logo {
        color: $title-color;
        font-family: $title-font, sans-serif;
        font-size: 18px;
        font-weight: 700;
        line-height: 1;
        text-transform: uppercase;
    }

    &-menu {
        &__list {
            display: flex;
            flex-wrap: wrap;
        }

        &__item+&__item {
            margin-left: 20px;
        }

        &__link {
            position: relative;
            font-family: $title-font, sans-serif;
            font-size: 12px;
            font-weight: bold;
            line-height: 1;
            text-transform: uppercase;

            &::before {
                content: "";
                position: absolute;
                top: 50%;
                left: 0;
                width: 50%;
                height: 1px;
                background-color: #60606e;
                opacity: 0;
                -webkit-transition: all .2s ease-in-out;
                transition: all .2s ease-in-out;
            }

            &:hover::before {
                top: -5px;
                opacity: 1;
            }
        }
    }

}