@import "sass_components/smart-grid.scss";
@import "sass_components/fonts.scss";
@import "sass_components/variables";
@import "sass_components/default";

@import "sass_components/sections/header";
@import "sass_components/sections/hero-primary";
@import "sass_components/sections/history";
@import "sass_components/sections/choose";
@import "sass_components/sections/portfolio";
@import "sass_components/sections/newsletter";
@import "sass_components/sections/footer";