.blog {
    &__posts {
        @include col();
        @include size(8);
        @include size-md(12);
    }

    &__aside {
        @include col();
        @include size(3);
        @include md(display, none);
    }
}