.choose {
    margin-bottom: 150px;
    text-align: center;
    @include md(margin-bottom, 120px);
}

.features {
    @include row-flex();
    justify-content: space-between;
    @include md(justify-content, center);

    &-content {
        @include col();
        @include size(6);
        @include size-md(10);
        justify-content: space-between;
        padding-top: 20px;

        &__inner {
            @include row-flex();
        }
    }

    &-reason {
        text-align: left;
        @include col();
        @include size(6);
        @include size-sm(12);
        margin-bottom: 60px;
        @include md(text-align, center);
        @include sm(margin-bottom, 30px);

        &__icon {
            display: inline-block;
            margin-bottom: 5px;
            color: $title-color;
            font-size: 36px;
            line-height: 1;
        }

        &__title {
            display: block;
            margin-bottom: 15px;
        }

        &__list {
            color: $text-color;
            font-family: $text-font, sans-serif;
            font-size: 14px;
            font-weight: 400;
            line-height: 1;
            text-transform: uppercase;
        }

        &__item+&__item {
            margin-top: 15px;
        }
    }

    &-img {
        @include col();
        @include size(5);
        @include md(display, none);
    }
}