.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: transparent;

    &-inner {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        padding: 41px 0;
    }

    &-logo {
        color: $title-color;
        font-family: $title-font, sans-serif;
        font-size: 18px;
        font-weight: 700;
        line-height: 1;
        text-transform: uppercase;
    }

}