.history {
    margin-top: -300px;
    margin-bottom: 150px;

    &__inner {
        @include row-flex();
        justify-content: space-between;
    }

    &__desc {
        margin-bottom: 27px;
    }

    &__img {
        @include col();
        @include size(5);
        @include size-md(6);
    }

    &__text {
        @include col();
        @include size(6);
        padding-top: 30px;
        @include md(padding-top, 0);
    }

    &__btn {
        float: right;
    }
}