.history {
    margin-top: -300px;
    margin-bottom: 150px;
    @include xs(margin-top, 0);

    &__inner {
        @include row-flex();
        justify-content: space-between;
    }
    &__title{
        margin-bottom: 15px;
    }
    &__desc {
        line-height: 30px;
        margin-bottom: 25px;
        @include sm(margin, 0 0 25px 0);
        @include sm(text-align, justify);
    }

    &__img {
        @include col();
        @include size(5);
        @include size-md(6);
        @include size-sm(12);
        @include sm(margin-bottom, 50px);

        img {
            @include sm(width, 100%);
        }
    }

    &__text {
        @include col();
        @include size(6);
        @include size-sm(12);
        padding-top: 30px;
        @include md(padding-top, 0);
    }

    &__btn {
        float: right;
    }
}