.post {
    &:not(:last-child) {
        margin-bottom: 100px;
    }

    &__media {
        margin-bottom: 30px;
    }

    &__img {
        width: 100%;
    }

    &__video {
        width: 100%;
        height: 500px;

        @include xs-block() {
            height: 300px;
        }
    }

    &__audio {
        width: 100%;
        height: 150px;
    }

    &__meta {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        color: #ccc;
    }

    &__date {
        padding: 6px 18px;
        margin-right: 15px;
        background-color: $main-theme-color;
        font-family: $title-font, sans-serif;
        line-height: 1;
        font-size: 14px;
        color: white;
        text-transform: uppercase;
    }

    &__comments {
        margin-right: 20px;
    }

    &__comments-icon {
        margin-right: 10px;
        font-size: 18px;
    }

    &__likes-icon {
        margin-right: 10px;
        font-size: 18px;
        color: #ea6a6a;
    }

    &__title {
        margin-bottom: 20px;
    }

    &__desc {
        max-width: none;
        margin: 0;
        margin-bottom: 30px;
        font-size: 14px;
    }

    &__continue {
        font-size: 14px;

        &::before {
            content: "";
            position: absolute;
            top: 20px;
            left: 0;
            width: 0;
            height: 1px;
            background: $main-theme-color;
            opacity: 1;
            -webkit-transition: .2s ease-in-out;
            transition: .2s ease-in-out;
        }

        &:hover::before {
            width: 50%;
            top: 20px;
            left: 0;
        }
    }
}